#whatsapp,
#phone {
  padding-right: 0;
  padding-left: 54px;
}
.arabic-version #whatsapp,
.arabic-version #phone {
  padding-right: 54px;
  padding-left: 0;
}
.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
  left: 0;
  right: auto;
}

.arabic-version .iti--allow-dropdown .iti__flag-container,
.arabic-version .iti--separate-dial-code .iti__flag-container {
  left: auto;
  right: 0;
}

.auth input[type="tel"] {
  text-align: left;
}
.arabic-version .auth input[type="tel"] {
  text-align: right !important;
}

@media (min-width: 992px) {
  .arabic-version .iti__country-list {
    right: 0;
    left: auto;
  }

  .arabic-version .iti__country {
    direction: ltr !important;
  }
}
.navigation-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-3rd-section-slider .home-3rd-section-slide > picture img {
  height: 300px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.iti__arrow {
  margin-left: 10px;
}

.arabic-version .iti__arrow {
  margin-left: 0;
  margin-right: 10px;
}

.error {
  font-size: 0.7rem;
}

.error-404 {
  height: 50vh;
}

.floating-wa {
  left: 2%;
  right: unset;
}

.arabic-version .floating-wa {
  left: unset;
  right: 2%;
}

.personal-login {
  width: fit-content;
}

.personal-login img {
  width: 90px;
  height: 60px;
  object-fit: contain;
}
.personal-login p {
  text-wrap: nowrap;
}

#cssmenu.small-screen #menu-button {
  position: absolute;
  left: 1rem;
  border: unset;
}
.arabic-version #cssmenu.small-screen #menu-button {
  left: unset;
  right: 1rem;
}

@media screen and (max-width: 1200px) {
  .mobile-personal {
    position: absolute;
    width: unset;
  }

  @media screen and (max-width: 400px) {
    .mobile-personal {
      left: 40px;
      top: 22.5px;
    }
    .arabic-version .mobile-personal {
      right: 40px;
      left: unset;
    }
  }

  @media screen and (min-width: 401px) and (max-width: 767px) {
    .mobile-personal {
      left: 50px;
      top: 42.5px;
    }
    .arabic-version .mobile-personal {
      right: 50px;
      left: unset;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .mobile-personal {
      left: 80px;
      top: 40px;
    }
    .arabic-version .mobile-personal {
      right: 80px;
      left: unset;
    }
  }

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    .personal-login {
      position: absolute;
      left: 80px;
      top: 35px;
    }
    .arabic-version .personal-login {
      right: 80px;
      left: unset;
    }
  }
}

.popup-header {
  display: block !important;
}

.popup-title {
  font-size: min(37px, 5vw);
}

.indicator-two .indicator-chart h3,
.indicator-three .indicator-chart h3 {
  width: fit-content;
}
/* ======== */
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color); /* Dark gray */
  border-radius: 5px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow-x: hidden;
}
html {
  scrollbar-color: var(--main-color);
}
.pricing-card .pricing-offer {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 28%;
  right: -34%;
  left: auto;
  background-color: #ff2929;
  padding: 0.5rem 5rem;
  color: #fff;
  rotate: 45deg;
}
.arabic-version .pricing-card .pricing-offer {
  position: absolute;
  transform: translate(-50%, -50%);
  top: -9%;
  left: 9%;
  right: auto;
  background-color: #ff2929;
  padding: 0.5rem 5rem;
  color: #fff;
  rotate: -45deg;
}
@media (max-width: 767.888889px) {
  .main-stars-header {
    min-height: 100px !important;
  }
  .floating-wa {
    top: 84% !important;
  }
}
body:not(.arabic-version) #cssmenu.head_btm_menu ul li a {
  font-size: 16px;
}
#cssmenu li > #sub-cat,
#cssmenu li > #sub-cat a {
  color: #000;
}
.recommendations-1st-section img {
  max-width: 100% !important;
}
.dark-mode .lang-join-btn a {
  color: #fff !important;
}

.indicator-chart {
  min-height: 500px !important;
}
/* ========== */
.dark-mode .title-payment {
  background-color: #020f19 !important;
}
.dark-mode .auth form .form-control {
  background-color: #020f19;
  color: #fff;
  border: 1px solid #020f19;
}
.dark-mode .auth form .form-control::placeholder {
  color: #777;
}

#newsletter-email input {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  width: 100%;
}

#newsletter-form button {
  background-color: #1e3266;
  color: #fff;
  padding: 0.45rem 2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#newsletter-form button:hover {
  background-color: #16254b;
}
/* ================ */

.toolbar {
  position: relative;
  z-index: 10;
}

.navigation-container {
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.navigation-container.fixed-navbar {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header.main-navigation--container {
  background-color: #fff;
}
.navigation-container {
  background-color: #fff;
  position: relative;
}
.toolbar {
  background: #fff;
}
/* ======= */
/* home-6th-section  */
.home-6th-section {
  padding-block: 3rem;
}
.home-6th-section .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  align-items: center;
  background-color: #0cc1e0;
  border-radius: 24px;
  padding: 2rem;
  width: 60%;
}
.home-6th-section button {
  background-color: #1e3266;
  color: white;
  padding: 0.45rem 2rem;
  border-radius: 8px;
}
.home-6th-section input {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  width: 100%;
}
@media (max-width: 991.8888888px) {
  .home-6th-section .container {
    gap: 1rem;
  }
  .home-6th-section .container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
  .home-6th-section .container img {
    width: 100%;
  }
}

@media (max-width: 575.888888px) {
  .home-6th-section .container {
    width: 90%;
  }
}
/* ======== */
.partners .partner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partners picture {
  display: block;
  height: 200px;
  width: 200px;
}
.partners .slick-dots li button:before {
  font-size: 10px;
  color: #2aabee;
}
.partners .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2aabee;
  color: #fff;
  border: none;
}
.partners .partners-arrows-next {
  left: -3rem;
}
.partners .partners-arrows-prev {
  right: -3rem;
}
@media (max-width: 991px) {
  .partners .slick-arrow {
    display: none !important;
  }
}
/* === */
.footer-copyright-container-centered .web-link {
  width: unset !important;
  height: unset !important;
  border: none !important;
  border-radius: unset !important;
}
.footer-copyright-container-centered .web-link:hover {
  border: none !important;
}
.dark-light-btn .main-btn {
  color: #fff !important;
}
.dark-light-btn .main-btn:hover {
  color: #000 !important;
}
.dark-mode .dark-light-btn .main-btn {
  color: #000 !important;
}
.dark-mode .dark-light-btn .main-btn:hover {
  color: #fff !important;
}
.dark-mode .toolbar .third-btn {
  color: #fff !important;
}
.dark-mode .toolbar .third-btn:hover {
  color: #000 !important;
}

.partners picture{
  height: auto !important;
}

header.main-navigation--container{
  padding-top: 15px;
}

.dark-mode .home-3rd-section-slider .slick-dots li button:before{
  color: white !important;
}

.dark-mode header.main-navigation--container{
   background-color: #020f19 !important
}

.hero-section {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.hero-section .container {
  padding: 3rem !important;
}

.floating-coin-up{
  opacity: 0.5;
  top: 0 !important;
  z-index: -1;
}