.Download-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid: auto;
  grid-row: auto;
  gap: 10px;
  margin-bottom: 5rem;
}
.Download-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(44, 54, 43, 0.2);
  border-radius: 10px;
}
.Download-card picture {
  min-height: 250px;
  background-color: rgba(220, 153, 55, 0.1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.Download-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
@media (max-width: 991.88888px) {
  .Download-section .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767.88888px) {
  .Download-section .container {
    grid-template-columns: 1fr;
  }
}
